# Archivos y carpetas específicos de IntelliJ
.idea/
*.iml

# Archivos de compilación
/out/

# Archivos del sistema operativo Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de log
*.log

# Archivos de configuraciones de usuario de IntelliJ
*.iws
*.ipr

# Dependencias y librerías (si usas Maven o Gradle)
/target/
/build/

# Otros archivos específicos del entorno
*.class
*.exe
*.dll
*.pdb

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store